@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #f0f5f3;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
}

.app-content {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 400px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  body {
    min-height: 100vh;
    background-color: #f0f5f3;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  hr {
    border: none;
    height: 1px;
  }

  .app-content {
    display: flex;
  }

  .flexCol {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
