.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
.analyticsBox {
  width: 1150px;
  height: 804px;
  background-color: white;
  border-radius: 30px;
}

.analyticSection h1 {
  font-size: 16px;
  padding: 15px;
  font-weight: 400;
  margin: 5px;
  color: #626262;
}

.widgetsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin: 15px;
}

.selectedFilter {
  display: flex;
  position: relative;
  right: 800px;
  height: 70vh;
  top: 90px;
}

.filterOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.filter-options {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.filter-container {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 25px;
  width: 300px;
  height: 45px;
  cursor: pointer;
  position: relative;
  right: 10px;
}

.filter-container label {
  margin-right: 8px;
  font-size: 16px;
  color: #999;
}

.dropdown-arrow {
  width: 30px;
  height: 30px;
  background-color: #f0f5f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 260px;
}

.filter-options button {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  background-color: #f8f9fa;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.filter-options button:hover {
  background-color: #e9ecef;
}

.selectedFilter {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  z-index: 15;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 70%;
}

.dashboardContent.blurred {
  filter: blur(5px);
  pointer-events: none;
}
