@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
.cart {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.cart-items {
  display: flex;
  flex-direction: column;
}
.itemCard {
  display: flex;
  align-items: center;
  gap: 20px;
  /* padding: 10px 0px; */
  border-bottom: 1px solid #eee;
  margin: 0px 30px;
}
.itemImg {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}
.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}
.itemTop {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 80px;
  
}
.name {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.removeItem {
  width: 20px;
  height: 20px;
  color: white;
  background-color: #e04444;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.itemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.itemsScroll {
  max-height: 169px; 
  overflow-y: scroll;
  /* margin: 0 30px; */
  /* padding-right: 10px; */
  scroll-behavior: smooth;
}
.itemsScroll::-webkit-scrollbar {
  width: 6px;
}
.itemsScroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.instructionInputGlobal {
  font-size: 13px;
  color: #8c7b7b;
  padding: 18px 30px;
  text-decoration: underline dotted;
  width: 100%;
}

.choice {
  background-color: #e4e4e4;
  width: 360px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
}
.dineIn,
.takeAway {
  width: 158px;
  height: 42px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dineIn:active {
  background-color: #e4e4e4;
}
.takeAway:active {
  background-color: #e4e4e4;
}

.dineIn.active,
.takeAway.active {
  background-color: #e4e4e4;
  color: #000;
  font-weight: bold; 
}
.checkout {
  margin-top: 30px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  background-color: rgba(255, 244, 143, 14%);
  width: 100%;
  box-sizing: border-box;
}
.itemCharges,
.grandTotal {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: #8c7b7b;
  font-size: small;
}

.grandTotal h3 {
  font-weight: bold;
  font-size: medium;
  margin-top: 13px;
  color: #000;
}



@media (max-width: 500px) {
.cart {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.cart-items {
  display: flex;
  flex-direction: column;
}
.itemCard {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #eee;
  margin: 0px 30px;
}
.itemImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 10px;
}
.itemTop {
  display: flex;
  justify-content:space-between;
  align-items: start;
  gap: 70px;
  
}
.name {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}
.removeItem {
  width: 24px;
  height: 20px;
  color: white;
  background-color: #e04444;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.itemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.itemsScroll {
  max-height: 169px; 
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.itemsScroll::-webkit-scrollbar {
  width: 6px;
}
.itemsScroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.instructionInputGlobal {
  font-size: 13px;
  color: #8c7b7b;
  padding: 18px 30px;
  text-decoration: underline dotted;
  width: 100%;
}

.choice {
  background-color: #e4e4e4;
  width: 340px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 27px;
}
.dineIn,
.takeAway {
  width: 128px;
  height: 32px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dineIn:active {
  background-color: #e4e4e4;
}
.takeAway:active {
  background-color: #e4e4e4;
}

.dineIn.active,
.takeAway.active {
  background-color: #e4e4e4;
  color: #000;
  font-weight: bold; 
}
.checkout {
  margin-top: 30px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  background-color: rgba(255, 244, 143, 14%);
  width: 100%;
  box-sizing: border-box;
}
.itemCharges,
.grandTotal {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  color: #8c7b7b;
  font-size: small;
}

.grandTotal h3 {
  font-weight: bold;
  font-size: medium;
  margin-top: 13px;
  color: #000;
}


}